[Unit]
Description=latinaserver service
After=network.target nss-lookup.target

[Service]
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
ExecStart=/usr/local/bin/latinaserver
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10s
LimitNOFILE=infinity
Environment="TURSO_DATABASE_URL=https://project_ref.turso.co"
Environment="TURSO_AUTH_TOKEN=SERVICEROLEKEY"
Environment="EMAIL=SOMECOOLEMAIL"
Environment="CF_KEY=SOMECOOLCFKEY"
Environment="GLOBAL_CF_KEY=GLOBALCFKEY"
Environment="GIN_MODE=release"

[Install]
WantedBy=multi-user.target